@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>Below is a list of features that have been <strong class="text-success">finished</strong>, <strong class="text-warning">implemented</strong> and <strong class="text-danger">potential.</strong></p>

<ul class="list-group">
    <!--
        list-group-item-success: finished/feature complete
        list-group-item-warning: implemented, testing
        list-group-item-danger: a potential feature with no implementation

        <li class="list-group-item list-group-item-success"></li>
        <li class="list-group-item list-group-item-warning"></li>
        <li class="list-group-item list-group-item-danger"></li>
    -->
    <li class="list-group-item active">Account features/issues</li>
    <li class="list-group-item list-group-item-success">site login</li>
    <li class="list-group-item list-group-item-success">site registration</li>
    <li class="list-group-item list-group-item-warning">account detail edit</li>
    <li class="list-group-item list-group-item-danger">account retrieval</li>
</ul>

<ul class="list-group">
    <li class="list-group-item active">Voice control</li>
    <li class="list-group-item list-group-item-danger">front page voice control</li>
</ul>

<ul class="list-group">
    <li class="list-group-item active">Firefox/Chrome plugin</li>
    <li class="list-group-item list-group-item-danger">voice transcription to forms</li>
</ul>

<ul class="list-group">
    <li class="list-group-item active">Smartphone app</li>
    <li class="list-group-item list-group-item-danger">communication with browser plugin</li>
    <li class="list-group-item list-group-item-danger">perform actions through phone app</li>
</ul>

<ul class="list-group">
    <li class="list-group-item active">Ungrouped site features/issues</li>
    <li class="list-group-item list-group-item-danger">bookmark favorite media URLs for front page</li>
    <li class="list-group-item list-group-item-danger">publishing user created channels</li>
    <li class="list-group-item list-group-item-danger">forum functionality</li>
</ul>

